 <div class="dropdown">
                <button class="nut_dropdown">admin</button>
                <div class="noidung_dropdown">
                    <a href="/shirt/create">Đăng quần, áo</a>
                    <a href="/me/storedshirt">Danh sách Quần, áo</a>
                    <a href="/me/cart">Đơn Hàng </a>
                    <div><hr class="dropdown-divider" color="red"></div>
                    <a href="/">Đăng xuất</a>
                </div>
</div>

             