<a style="color:#000; float:right" href="/">Đăng xuất</a>
<div id="home-page">
            <div class="imghome">
                
                <img src="https://file.hstatic.net/200000268337/file/banner_slider-04_552b84dd481b459a9da7328b3144e7fa.jpg" alt="">
            </div>
                
            <div class="ourservice">
                <h4 class="introduce">
                    ĐẶC QUYỀN CHO BẠN !
                </h4>
                
                    <div class="text-list">
                        <div class="something">
                            <div id="one" class="text-member">
                            <h5 class="title">GIAO HÀNG TOÀN QUỐC</h5>
                            <p>Thời gian giao hàng linh động từ 3 - 5 ngày tùy khu vực, đôi khi sẽ nhanh hơn hoặc chậm hơn. Mong Quý Khách hàng thông cảm và cố gắng đợi hàng giúp shop.</p>
                            </div>
                            
                        </div>
                        <div class="something">
                            <div id="two" class="text-member ">
                                <h5 class="title">CHÍNH SÁCH ĐỔI TRẢ</h5>
                                <p>Sản phẩm được phép đổi hàng trong vòng 36h nếu phát sinh lỗi từ nhà sản xuất (Yêu cầu: hình ảnh phần bị lỗi rõ nét, chi tiết và đầy đủ).</p>
                            </div>

                        </div>
                        <div class="something">
                            <div id="three" class="text-member">
                                <h5 class="title">NHẬN HÀNG VÀ KIỂM KÊ ĐƠN HÀNG</h5>
                                <p>Được kiểm hàng trước khi thanh toán. Hoặc quay video unbox sản phẩm trong tình trạng nguyên vẹn để có căn cứ làm việc.</p>
                            </div>

                        </div>
                        <div class="something">
                            <div id="four" class="text-member">
                                <h5 class="title">THEO DÕI VÀ KIỂM TRA ĐƠN HÀNG</h5>
                                <p>Hotline : 0362316628</p>
                            </div>

                        </div>

                    </div>
                    
                
            </div>
        </div>

