<div class="login1">
 <form method="post" action="/store">
  <div class="container">
    <h1>Đăng ký</h1>
    <p>Điền thông tin để đăng ký tài khoản</p>
    <hr>

    <label for="email"><b>Tên</b></label>
    <input type="text" placeholder="Nhập tên" name="name" id="name" required>

    <label for="psw"><b>Mật khẩu</b></label>
    <input type="password" placeholder="Nhập mật khẩu" name="psw" id="psw" required>
    <label for="psw"><b>Nhập lại mật khẩu</b></label>
    <input type="password" placeholder="Nhập mật khẩu" name="cpsw" id="cpsw" required>
    <hr>
    <button type="submit" class="registerbtn">Đăng ký </button>
  </div>

  <div class="container signin">
    <p>Bạn đã có tài khoản? <a href="/login">Đăng nhập</a>.</p>
  </div>
</form>
</div>