<div class="dropdown">
                <button class="nut_dropdown">admin</button>
                <div class="noidung_dropdown">
                    <a href="/shirt/create">Đăng quần, áo</a>
                    <a href="/me/storedshirt">Danh sách Quần, áo</a>
                    <a href="/me/cart">Đơn Hàng </a>
                    <div><hr class="dropdown-divider" color="red"></div>
                    <a href="/">Đăng xuất</a>
                </div>
</div>
<div class="container0">

<div class="container2">

<div class="">
    <h3>Đăng quần, áo</h3>
    <form method="post" action="/shirt/storeshirt">
    <div class="mb-3">
        <label for="name" class="form-label">Tên</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="mb-3">
        <label for="des" class="form-label">Mô tả</label>
        <input type="text" class="form-control" id="des" name="des">
    </div>
    <div class="mb-3">
        <label for="img" class="form-label">Link ảnh</label>
        <input type="text" class="form-control" id="img" name="img">
    </div>
    <div class="mb-3">
        <label for="money" class="form-label">Giá tiền:</label>
        <input type="number" class="form-control" id="money" name="money">
    </div>
    <div class="mb-3">
        <label for="slug" class="form-label">slug:</label>
        <input type="text" class="form-control" id="slug" name="slug">
    </div>
    <button type="submit" class="btn btn-primary">Thêm</button>
</form>
</div>
</div>
</div>